
.item-wrapper.dark {
    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.12);
    }
    .desc {
        color: #e4e6eb;
    }
}
.item-wrapper {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 6px 8px;
    &:hover {
        cursor: pointer;
        background-color: #e4e6eb;
    }
    .img-wrapper {
        margin-right: 11px;
        position: relative;
        .img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .desc {
        font-size: 16px;
        font-weight: 500;
    }
}

